/** CSS for Power Calculator website 
* 
* Author: Sarah Kreidler
*
*/

/* basic page style */

body {
	background: #c0b3a3;
	margin: 0px;
	padding: 0px;
}

/** header style **/

#header {
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

/* UC Denver banner image */
#ucdenver {
	background: #C9AF50;	
	color: #FFFFFF;
}

/* Main title bar */
#powerCalcTitle {
	font-size: large;
	font-weight: bold;
	background: #FFFFFF;
	color: #204d89;	
	padding: 5px;
}

/* Department name */
#department {
	font-size: large;
	background: #FFFFFF;
	color: #C9AF50;
	font-weight: bold;
	padding: 5px;
}

/** top navbar style **/

#topNavBar {
	width: 100%;
	background-color: #204d89;
	text-align: right;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: #d9e8ef;
	padding: 5px;
}

#topNavBar a {
	text-decoration: none;
	color: #d9e8ef;
	padding-right: 30px; 
}

#topNavBar a:hover {
	color:#666;
}

/* Container for steps left and input wizard */
.powerCalculatorPanel {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	border: 5px solid #ccc;
	padding: 5px;
}
	
/* Style for "steps left" banner above the input wizard. */

.stepsLeftPanel {
	border-bottom: 1px solid #000;
	margin-right: auto;
	margin-left: auto;
}

.stepsLeftPanel .gwt-HTML {
	padding: 10px;
}

.stepsLeftLabel {
	font-size: 12pt;
	padding: 10px;
}

.stepsLeftLabel-selected {
	color: #C9AF50;
}

.stepsLeftLabel-deselected {
	color: black;
}

.stepsLeftNumber {
	font-size: 12pt;
	padding: 10px;
}

.stepsLeftNumber-selected {
	color: white;
	background: url(images/circleOn.jpg) no-repeat 3px 8px;
}

.stepsLeftNumber-deselected {
	background: url(images/circleOff.jpg) no-repeat 3px 8px;
	color: white;
}



/* style for middle input panel (GWT class) */

.inputPanel {
	margin-right: auto;
	margin-left: auto;
	min-height: 200;
	min-width: 400;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: black;
	text-align: center;
	padding: 10px;
}

/* navigation bar style sheet */

.wizardNavigationPanel {
	border-top: 1px solid #000;
	margin-right: auto;
	margin-left: auto;
}

.wizardNavigationPanel td {
	padding: 10px;
}

.gwt-Button {
	padding: 3px 5px;
	text-decoration: none;
	font-size: small;
	cursor: pointer;
	cursor: hand;
	border: 1px outset #f00;
}

.gwt-Button:active {

}

.gwt-Button:hover {
	background: #C9AF50;
}

.gwt-Button[disabled] {
  cursor: default;
  color: #888;
}

.gwt-Button[disabled]:hover {
	background: none;
}

.columnMetaData {
	width: 75px;
	margin-top: 10px;
}

.columnMetaData td {
	background: #ddd;
	border: 1px solid #000;
}

.columnMetaData {
	border: 0;
	width: 75px;
	text-align: center;
}

.columnMetaDataPopup {
	border: 10px solid #000;
	background: white;
}

.rowMetaDataCell {
	width: 50px;
}

.matrixPanel {
}

.matrix {
	margin-bottom: 10px;
	padding: 10px;
}

.gwt-PopupPanel {
	background: white;
	border: 1px solid #000;
	width: 50%;
}

.matrixData {
	margin-top: 10px;
}

.matrixData td {
	background: white;
	border: 1px solid #000000;
	border-spacing: 0px;
}

.matrixCell {
	background: white;
	border: 0;
	width: 75px;
}

.matrixHeader {
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
	font-weight: bold;
}

.matrixDimensions .gwt-HTML {
	margin-right: 5px;
	margin-left: 5px;
}

.matrixDimensions .gwt-TextBox {
	width: 30px;
}

.optionsPanel .gwt-TextBox {
	margin-left: 10px;
}

.optionsPanelHeader {
	border-bottom: 1px solid #000;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}

.waitDialog {
	background: #ddd;
	padding: 10px;
	border: 2px solid  #555;
}

.waitDialogText {
	width: 180px;
	height: 30px;
	text-align: center;
}