/** CSS for Power Calculator website 
* 
* Author: Sarah Kreidler
*
*/

/* basic page style */

body {
	background: #c0b3a3;
	margin: 0px;
	padding: 0px;
}

/** header style **/

#header {
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

/* UC Denver banner image */
#ucdenver {
	background: #C9AF50;	
	color: #FFFFFF;
}

/* Main title bar */
#powerCalcTitle {
	font-size: large;
	font-weight: bold;
	background: #FFFFFF;
	color: #204d89;	
	padding: 5px;
}

/* Department name */
#department {
	font-size: large;
	background: #FFFFFF;
	color: #C9AF50;
	font-weight: bold;
	padding: 5px;
}

/** top navbar style **/

#topNavBar {
	width: 100%;
	background-color: #204d89;
	text-align: right;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: #d9e8ef;
	padding: 5px;
}

#topNavBar a {
	text-decoration: none;
	color: #d9e8ef;
	padding-right: 30px; 
}

#topNavBar a:hover {
	color:#666;
}

/* Container for steps left and input wizard */
.powerCalculatorPanel {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	border: 10px solid #ccc;
	padding: 5px;
}
	
/* Style for "steps left" banner above the input wizard. */

.stepsLeft {
	margin-right: auto;
	margin-left: auto;
	font-size: large;
	text-align: center;
}

.stepsLeft-selected {
	color: blue;
	font-size: 14pt;
}

.stepsLeft-deselected {
	color: black;
}

/* style for middle input panel (GWT class) */

.inputPanel {
	margin-right: auto;
	margin-left: auto;
	min-height: 200;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: black;
	text-align: center;
	padding: 30px;
}

/* navigation bar style sheet */

.wizardNavigationPanel {
	margin-right: auto;
	margin-left: auto;
}

.wizardNavigationPanel td {
	padding: 20px;
}

.gwt-Button {
	padding: 3px 5px;
	text-decoration: none;
	font-size: small;
	cursor: pointer;
	cursor: hand;
	border: 1px outset #f00;
}

.gwt-Button:active {

}

.gwt-Button:hover {
	background: #C9AF50;
}

.gwt-Button[disabled] {
  cursor: default;
  color: #888;
}

.gwt-Button[disabled]:hover {
	background: none;
}

.matrix {
	border: 1px solid #000000;
	border-spacing: 0px;
}

.matrix td {
	background: white;
	border: 1px solid #000000;
	border-spacing: 0px;
}

.matrixCell {
	background: white;
	border: 0;
	width: 50px;
}

.matrixHeader {
	width: 300px;
}
.matrixDimension {
	width: 30px;
}

.waitDialog {
	background: #ddd;
	padding: 10px;
	border: 2px solid  #555;
}

.waitDialogText {
	width: 180px;
	height: 30px;
	text-align: center;
}